* {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
}

body {
  background-color: #fcf8ff;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 56px 0;
}
.header a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #44ffa1;
  padding: 2px;
}

.hero {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  height: 730px;
  box-sizing: border-box;
}
.hero .titulo-principal {
  text-align: center;
}
.hero .titulo-principal h1 {
  font-size: 80px;
  line-height: 100%;
  color: #ffffff;
}
.hero .titulo-principal span {
  border-bottom: 2px solid #44ffa1;
}
.hero .titulo-principal button {
  background-color: #44ffa1;
  padding: 16px 32px;
  margin: 38px;
  text-decoration: none;
  cursor: pointer;
}
.hero .titulo-principal button a {
  text-decoration: none;
}
.hero .titulo-principal img {
  width: 767px;
  height: 441px;
  display: block;
  margin: 0px auto;
  padding: 72px;
}

.cards {
  margin-top: 255px;
  margin-bottom: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 24px;
}
.cards .menu-1 {
  max-width: 1114px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards .menu-1 span {
  color: #24053e;
  border: 1px solid #584d62;
  border-radius: 36px;
  font-size: 24px;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 56px;
}
.cards .menu-1 h3 {
  font-size: 20px;
  font-family: "Fraunces", serif;
  margin: 28px;
  color: #24053e;
}
.cards .menu-1 p {
  color: #24053e;
}

.footer-hero {
  padding-bottom: 60px;
}
.footer-hero .container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
}
.footer-hero .container .content {
  max-width: 730px;
  min-height: 474px;
  display: flex;
  box-sizing: border-box;
  position: absolute;
  padding: 65px;
  background-image: url(../img/fundo.png);
  left: 372px;
  top: 177px;
}
.footer-hero .container .content h2 {
  font-size: 36px;
  color: #ffffff;
  font-weight: normal;
  margin-top: 0;
}
.footer-hero .container .content p {
  margin: 32px 0;
  line-height: 32px;
  text-align: left;
  font-size: 18px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}
.footer-hero .container .content button {
  background-color: #44ffa1;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.redes-sociais {
  margin-top: 120px;
}
.redes-sociais .container {
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
}
.redes-sociais .container .logo {
  color: #24053e;
}
.redes-sociais .container .redes {
  padding: 37px;
}
.redes-sociais .container .redes img {
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 920px) {
  .header {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    max-width: 85%;
  }
  .cards {
    flex-direction: column;
    padding: 24px;
  }
  .titulo-principal {
    position: relative;
    padding: 56px;
    overflow-y: hidden;
  }
  .titulo-principal .content h1 {
    font-family: fraunces;
    font-size: 40px;
  }
  .titulo-principal .content button {
    margin: 87px;
    padding: 10px 14px;
    font-size: 16px;
    line-height: 32px;
  }
  .titulo-principal .content img {
    max-width: 135%;
    height: auto;
    position: relative;
    right: 114px;
    bottom: -15px;
  }
  .footer-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-hero .container .cara {
    max-width: 100%;
    height: auto;
  }
  .footer-hero .container .content {
    width: 100%;
    height: auto;
    background-image: none;
    background-color: #24053e;
    text-align: center;
    position: relative;
    left: 0;
    top: -50px;
  }
  .redes-sociais {
    margin-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */