$white: #ffffff;
$Davi: #584d62;
$Grennclip: #44ffa1;

* {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
}

body {
  background-color: #FCF8FF;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0;

  a {
    color: #ffffff;
    
  }

  

}

.hero {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  height: 730px;
  box-sizing: border-box;

  .titulo-principal {
    text-align: center;
    h1 {
      
      font-size: 80px;
      line-height: 100%;
      color: $white;
    }

    button{
      background-color: #44ffa1;
      padding: 16px 32px;
      margin: 37px;
      
    }


    img {
      display: block;
      margin: 0px auto;
      width: 702px;
      height: 360px;
      padding: 180px;
      z-index: 10;
    }
  }
}