$white: #ffffff;
$Davi: #584d62;
$Grennclip: #44ffa1;
$dark: #24053e;
$stroke: #979797;

* {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
}

body {
  background-color: #fcf8ff;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 56px 0;

  a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid $Grennclip;
    padding: 2px;
  }
}

.hero {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  height: 730px;
  box-sizing: border-box;

  .titulo-principal {
    text-align: center;

    h1 {
      font-size: 80px;
      line-height: 100%;
      color: $white;
    }

    span {
      border-bottom: 2px solid $Grennclip;
    }

    button {
      background-color: #44ffa1;
      padding: 16px 32px;
      margin: 38px;
      text-decoration: none;
      cursor: pointer;

      a {
        text-decoration: none;
      }
    }

    img {
      width: 767px;
      height: 441px;
      display: block;
      margin: 0px auto;
      padding: 72px;
      
    }
  }
}

.cards {
  margin-top: 255px;
  margin-bottom: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 24px;

  .menu-1 {
    max-width: 1114px;
    height: 350px;
    //height: 125vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      color: #24053e;
      border: 1px solid $Davi;
      border-radius: 36px;
      font-size: 24px;
      width: 46px;
      height: 46px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 56px;
    }

    h3 {
      font-size: 20px;
      font-family: "Fraunces", serif;
      margin: 28px;
      color: #24053e;
    }

    p {
      color: $dark;
    }
  }
}

.footer-hero .container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;

  .cara {
    // position: relative;
    // left: 40px;
  }

  .content {
    width: 730px;
    box-sizing: border-box;
    position: absolute;
    padding: 64px;
    background-image: url(../img/fundo.png);
    left: 372px;
    top: 177px;

    h2 {
      font-size: 36px;
      color: $white;
      font-weight: normal;
    }

    p {
      margin: 32px 0;
      line-height: 24px;
      text-align: left;
      font-size: 14px;
      color: $white;
      font-family: "Manrope", sans-serif;
    }

    button {
      background-color: #44ffa1;
      padding: 16px 32px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.redes-sociais .container {
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 100px;

  img {
    margin: 10px;
    cursor: pointer;
  }

  .logo {
    
    color: #24053e;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    max-width: 85%;
  }

  .titulo-principal {
    position: relative;
    padding: 56px;

    .content h1 {
      font-family: fraunces;
      font-size: 50px;
    }

    .content button {
      margin: 80px;
      padding: 10px 25px;
      font-size: 16px;
      line-height: 32px;
    }

    .content img {
      max-width: 100%;
      height: auto;
      position: relative;
      margin-top: 50px;
      padding: 36px 20px;
    }
  }
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .menu-1 p{
    padding: 16px;
  }

  .menu-1 h3 {
    padding: 16px;
  }

  .menu-1 span{
    
  }
}

@media (max-width: 768px){
.footer-hero .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url();
}
}